@model List<MVCApplication.Models.Class>;
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-8">
                <h5 class="card-title">
                    Class List
                </h5>
            </div>
            <div class="col-md-4 text-end">
                <a type="button" class="btn btn-sm btn-outline-primary text-end" href="Class/Create">New</a>
            </div>
        </div>
        
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col"> Name</th>
                    <th scope="col">Education Year</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a type="button" class="btn btn-sm btn-outline-warning mr-1" href="Class/Edit/@item.id">Edit</a>
                            <a type="button" class="btn btn-sm btn-outline-danger" href="Class/Delete/@item.id">Delete</a>
                        </td>
                        <td>@item.name</td>
                        <td>@item.education_year</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
